<!DOCTYPE html>
<html>
<head>
  <title>AddressBookApp</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>

<% if user_signed_in? %>
	<ul>
		<li><%= link_to 'Add Contact', new_contacts_path %> </li>
		<li><%= link_to 'Account', edit_users_registration_path %></li>
		<li><%= link_to 'Sign out', destroy_users_session_path, 
			:method => :delete %></li>
	</ul>
<% else %>
	<ul>
		<li><%= link_to 'Sign up', new_users_registration_path %></li>
		<li><%= link_to 'Sign in', new_users_session_path %></li>
	</ul>
<% end %>

<%= yield %>

</body>
</html>
